html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectors,
.swatches {
  width: 75%;
  min-width: 256px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.selectors > div {
  margin: 15px;
}

[class ^= "swatches-row-"] {
  width: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sp-replacer, 
.swatch {
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 25px 0;
}

.swatch {

}
